* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  max-width: 1200px;
  font-family: sans-serif;
  margin: auto;
  background-color: #e2dfdf;
}

.underline {
  text-decoration: underline;
}

.flex {
  display: flex;
}

/* promotion menu */

.menu {
  position: absolute;
  left: 162px;
  z-index: 10;
}

.menu-img {
  display: block;
  background-color: #201f1f;
}

.menu-img:hover {
  cursor: pointer;
  background-color: orangered;
}

/* lessons navbar */

.lessons-navbar {
  width: 175px;
  min-height: 500px;
  min-width: 175px;
  background-color: linen;
  margin-right: 25px;
  margin-bottom: 50px;
}

.lessons-navbar a {
  text-decoration: none;
}

.lessons-navbar a,
a:visited,
a:hover,
a:active {
  color: inherit;
  font-size: inherit;
}

.navbar-title {
  display: flex;
  align-items: center;
  padding-left: 10px;
  height: 40px;
  border-bottom: 2px solid black;
  font-size: 18px;
  font-weight: bold;
}

.navbar-lesson {
  display: flex;
  align-items: center;
  padding-left: 10px;
  height: 30px;
  border-bottom: 1px solid black;
  font-size: 15px;
  cursor: pointer;
}

.navbar-lesson:hover {
  background-color: #dedbdb;
}

/* lesson component */

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.board {
  position: relative;
  margin-top: 40px;
  margin-bottom: 50px;
  width: 328.5px;
  height: 328.5px;
  border: 2px solid gray;
}

.text-box {
  margin-top: 40px;
  margin-right: 25px;
  width: 400px;
  min-width: 400px;
  height: 330px;
  border: 2px solid gray;
  background-color: linen;
}

.text-title-div {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.text-title {
  user-select: none;
  padding-left: 10px;
  padding-top: 5px;
}

.text-body-div {
  width: 100%;
  height: 225px;
}

.text-body {
  padding: 5px 10px;
  text-align: justify;
  text-justify: auto;
  font-family: 'Trebuchet MS', sans-serif;
  line-height: 23px;
}

.text-body img {
  margin-left: 10px
}

.lesson-btn-div {
  display: flex;
  justify-content: space-between;
}

.lesson-btn {
  width: fit-content;
  min-width: 80px;
  height: 25px;
  display: block;
  margin: 10px;
  padding: 2px 10px 2px 10px;
  border: none;
  border-radius: 5px;
  background-color: darkgreen;
  color: white;
}

.lesson-btn:hover {
  cursor: pointer;
  background-color: #078907;
}

.lesson-btn:active {
  padding-top: 4px;
  padding-left: 12px;
}

.arrows-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
  padding-right: 10px;
  padding-left: 10px;
}

.left-arrow {
  font-size: 30px;
  color: #201f1f;
}

.left-arrow-locked {
  font-size: 30px;
  color: gray;
}

.right-arrow {
  font-size: 30px;
  color: #201f1f;
}

.left-arrow:hover,
.right-arrow:hover {
  cursor: pointer;
}

.pages-div {
  height: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.pages-text {
  user-select: none;
  margin-right: 10px;
  padding-bottom: 3px;
  font-size: 15px;
  font-weight: bold;
}

.quiz-img {
  margin: auto;
  margin-top: 25px;
  display: flex;
  border: 2px solid black;
  border-radius: 5px;
  width: fit-content;
  min-width: 175px;
  height: 50%;
  align-items: center;
}

.quiz-img:hover {
  cursor: pointer;
}

.first-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  border-right: 0.5px solid black;
  border-radius: 3px 0 0 3px;
}

.second-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  border-left: 0.5px solid black;
  border-radius: 0 3px 3px 0;
}

.first-img:hover {
  background-color: #ece7e7;
}

.second-img:hover {
  background-color: #ece7e7;
}

.first-option {
  width: fit-content;
  min-width: 80px;
  border: 1.5px solid black;
  border-radius: 5px;
  margin: 10px;
}

.first-option:hover {
  background-color: #ece7e7;
  cursor: pointer
}

.second-option {
  width: fit-content;
  min-width: 80px;
  border: 1.5px solid black;
  border-radius: 5px;
  margin: 0 10px 10px 10px
}

.third-option {
  width: fit-content;
  min-width: 80px;
  border: 1.5px solid black;
  border-radius: 5px;
  margin: 0 10px 10px 10px
}

.second-option:hover {
  background-color: #ece7e7;
  cursor: pointer
}

.third-option:hover {
  background-color: #ece7e7;
  cursor: pointer
}

.option-text {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: justify;
  text-justify: auto;
  font-family: verdana, sans-serif;
  line-height: 23px;
  font-size: 15px;
}